body {
  font-family: "Inter", sans-serif;
  background-color: black;
  color: white;display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
}

main  {
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px ;
}

.buttons a button {
  background-color: #707070;
  border-radius: 5px;
  padding: 10px;
  color: white;
  cursor: pointer;
  width: 100%;
}


main {
  background-color: #1f1f1f;
  padding: 30px;
  border-radius: 10px;
}


img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

h3 {
  color: #aae088;
}

header {
  margin-top: 10vh;
}
